
body{
  background-size: cover;
  background-position: center;
  background-color: pink;
  margin: 0;
  text-align: center;
}
header{
   background-color: rgba(255, 255, 255, 1);

}
.ink{
  
  margin-right: 120px;

}
.navegacion{
  margin-bottom: 10px;
}
.buscador{
  background-color: silver;
}

.icon{

	font-size: 30px;
  margin-top: 60px;
}

footer{
  	background-color: rgba(0, 0, 0, 6);
  	border-top: 1px solid rgba(0, 210, 100, 1);
  	color: rgba(255, 255, 255, 1);
  	font-size: 0.8rem;
  	font-weight: 500;
  	padding: 0.4em 1em;
  	text-align: center;
  	width: 100%;
  }
  .fa-apple{
    margin-right: 80px;
  }
